body{
	background-image: url("geometry2.png");
}
h1{
	font-family: Arial;
	text-align: center;
}
div{
	float: left;
	position: relative;
}
img{
	border:1px black solid;
	margin: 10px;
	-webkit-filter:brightness(50%);
}
hr{
	height: 3px;
	width: 70px;
	background-color: black;
	margin-left: 10px;
}
.salto{
	clear: left;
}
p{
	color: white;
	font-family: Arial;
	position: absolute;
	bottom: 0;
	right: 15px;
}

